@font-face {
    font-family: 'Monserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat');
}

html, body {
    margin: 0;
    padding: 0;
}

.split-container {
    width: 100%;
    display: flex;
}

.block-left {
    background-color: rgba(24, 32, 38, 1);
    width: 25%;
}

.block-right {
    background-color: rgba(21, 24, 30, 1);
    width: 75%;
    min-height: 100vh;
    overflow: auto;
}

.login {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

h1 {
    display: inline;
    padding: 30px;
    padding-left: 50px;
}

.id {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.Main {
    width: 54px;
    height: 54px;
    float: left;
    margin-top: -17px;
    margin-left: 30px;
}

.head {
    margin-top: 60px;
}

.fill {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.text {
    margin-top: 40px;
    margin-left: 20px;
}

.fill_grade {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    width: 735px;
    font-weight:500;
    margin-left: 52px;
    margin-top: 60px;
    margin-bottom: 50px;
}

button {
    height: 64px;
    width: 120px;
    background-color:#95E6D6;
    border: 2px solid #95E6D6;
    border-radius: 20px;
    color: black;
    line-height: 30.48px;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}


button:hover {
    height: 64px;
    width: 120px;
    background-color: #15181EFF;
    border: 2px solid #95E6D6;
    border-radius: 20px;
    color: #95E6D6;
    line-height: 30.48px;
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 50px;
}

.line {
    background-color: rgba(57, 65, 69, 1);
    height: 2px;
    width: 100%;
    margin-top: 60px;
}

.commands {
    margin-top: 20px;
}

.box-img {
    width: 38px;
    height: 38px;
    margin-left: 30px;
    margin-top: 15px;
}

.box-text {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: normal;
    vertical-align: 5px;
}

.but {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    width: 735px;
    font-weight: normal;
    margin-left: 0;
    margin-top: 60px;
}

.bet {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    width: 735px;
    font-weight: normal;
    margin-left: -70px;
    margin-top: 60px;
}
.bat {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    width: 735px;
    font-weight: normal;
    margin-left: -70px;
    margin-top: 60px;
}

.block {
    background-color: white;
    height: 50px;
    width: 860px;
    margin-top: 15px;
    margin-left: 72px;
    color: rgba(244, 244, 248, 1);
    border: 2px solid rgba(244, 244, 248, 1);
    border-radius: 10px;
}

.date {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 735px;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 80px;
}

.charge {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 735px;
    font-weight: normal;
    margin-left: -10px;
    margin-top: 60px;
}

.give {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 735px;
    font-weight: normal;
    margin-left: -22px;
    margin-top: 60px;
}

.status {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 735px;
    font-weight: normal;
    margin-left: 90px;
    margin-top: 60px;
}

.status1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 735px;
    font-weight: normal;
    margin-left: 210px;
    margin-top: 60px;
}


.date-block {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 100px;
    font-weight: normal;
    margin-left: -23px;
}

.charge-block {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 100px;
    font-weight: normal;
    margin-left: 5px;
}

.give-block {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    width: 100px;
    font-weight: normal;
    margin-left: 0px;
}

.text-block {
    margin-top: 15px;
}

.status-block {
    background-color: rgba(229, 234, 253, 1);
    height: 22px;
    width: 120px;
    float: right;
    border: 2px solid rgba(244, 244, 248, 1);
    border-radius: 10px;
    margin-left: -145px;
    margin-top: -22px;
    padding: auto;
}

.status-block-text {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: rgba(81, 117, 255, 1);
    margin-left: -35px;
    margin-bottom: -5px;
    font-weight: normal;
    padding-right: 0;
}

.status-block-1 {
    background-color: rgba(146, 230, 214, 1);
    height: 22px;
    width: 120px;
    float: right;
    border: 2px solid rgba(146, 230, 214, 1);
    border-radius: 10px;
    margin-right: 145px;
    margin-top: -22px;
    padding: auto;
}

.status-block-text-1 {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: black;
    margin-left: -35px;
    margin-top: 5px;
    font-weight: normal;
    padding-right: 0;
}

.arrow {
    height: 20px;
    width: 13px;
    float: right;
    margin-top: 13px;
    margin-right: 30px;
}