html, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.block-top {
    background-color: rgba(24, 32, 38, 1);
    min-width: 100%;
    height: 25%;
}

.block-bottom {
    background-color: rgba(21, 24, 30, 1);
    min-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.curier {
    text-align: center;

    margin-bottom: -3%;
}

.curier1 {
    text-align: center;
    margin-bottom: 3%;
    margin-right: 16%;
}

.lines {
    width: 22px;
    height: 15px;
    margin-top:1%;
    margin-left: 3%;
    margin-right: -10%;
    float: left;
}

.fill {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.search {
    background: url(../static/lupa.png) no-repeat center left;
    background-size: 18px 17.5px;
    background-position: 4%;
}

input.one {
    display: block;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: 342px;
    height: 30px;
    background-color: #D9D9D91A;
    border: 1px solid #D9D9D91A;
    border-radius: 10px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: white;
    outline: none;
    padding-left: 8%;
}

.one::placeholder {
    line-height: 30.48px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: white;
}

.fill-bottom {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2%;
    margin-top: 9%;
}

.box {
    margin-bottom: 5%;
}

.ellipse {
    height: 56px;
    width: 56px;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    border: 1px solid transparent;
    border-radius: 50px;
}
.ellipse2 {
    height: 56px;
    width: 56px;
    left: 0;
    margin-left: -65px;
    margin-right: 2%;
    float: left;
    border: 1px solid transparent;
    z-index: 1;
}

.inf1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 2%;
}

.inf2 {
    color: #838384;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: -2%;
}

.vector {
    height: 13px;
    width: 7px;
    float: right;
    margin-right: 5%;
    margin-top: -10%;
}

.back {
    float: left;
    margin-left: 2%;
    margin-top: 0.5%;
}

.fill-back {
    color: #95E6D6;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

.screan {
    height: 389px;
    width: 400px;
}

.button {
    height: 42px;
    width: 180px;
    background-color:#95E6D6;
    border: 2px solid #95E6D6;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}


.button:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #95E6D6;
    border-radius: 5px;
    color: #95E6D6;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}

.button1 {
    height: 42px;
    width: 180px;
    background-color:#C98282;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}


.button1:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: #C98282;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}

.button2 {
    height: 42px;
    width: 180px;
    background-color:#C98282;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}

.button3 {
    height: 42px;
    width: 180px;
    background-color: #95E6D6;
    border: 2px solid #15181EFF;
    border-radius: 5px;
    color: #15181EFF;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}
.button3:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #95E6D6;
    border-radius: 5px;
    color: #95E6D6;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}


.button2:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: #C98282;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}

.inform-box {
    margin-left: 2%;
}

.inform {
    color: #838384;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.inform2 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.qr {
    width: 400px;
    height: 395px;
}

.check {
    background: #FFFFFF;
    margin-top: 3%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 229px;
    border: 1px solid #FFFFFF;
    border-radius: 18px;
    margin-bottom: 20%;
}

.check1 {
    background: #FFFFFF;
    width: 400px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    border: 1px solid #FFFFFF;
    border-radius: 18px;
    margin-bottom: 20%;
}

.check2 {
    background: #FFFFFF;
    width: 400px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    border: 1px solid #FFFFFF;
    border-radius: 18px;
    margin-bottom: 20%;
}

.inform3 {
    color: #000000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 335px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15%;
}

.button-check {
    height: 42px;
    width: 340px;
    background-color:#82C9BB;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    cursor: pointer;
    margin-left: 7%;
}

.inform4 {
    color: #FF0000;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 335px;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 10%;
}

.inform5 {
    color: #82C9BB;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 335px;
    margin-left: 15%;
    margin-right: auto;
    margin-top: -3%;
}

.problem {
    margin-left: 5%;
    margin-bottom: 10%;
}

.fill-problem {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.problem-text {
    width: 315px;
    height: 110px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.foto {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
}

.img-vopr {
    float: right;
    margin-top: -10.5%;
    margin-right: 44%;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.myimg {
    background: url(../static/vopr.png) 50% 50% no-repeat;
    background-size: contain;
    background-color: transparent;
    border: transparent;
    width: 27px;
    height: 27px;
    float: left;
    margin-left: 50%;
    margin-top: -10%;
}

.myimg1 {
    background: url(../static/vopr.png) 50% 50% no-repeat;
    background-size: contain;
    background-color: transparent;
    border: transparent;
    width: 27px;
    height: 27px;
    float: left;
    margin-left: 68%;
    margin-top: -10%;
}

input.brein {
    display: block;
    width: 350px;
    height: 40px;
    background-color: #272A30;
    border: 1px solid #272A30;
    border-radius: 5px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #5F5F60;
    outline: none;
    padding-left: 2%;
}

.brein::placeholder {
    line-height: 30.48px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #5F5F60;
}

.popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    height:220px;
    width: 320px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.popup1 {
    display: none;
    position: fixed;
    top: 5%;
    left: 0%;
    height:500px;
    width: 300px;
}

.popup img {
    max-width: 100%;
    max-height: 90vh;
}

#showImageBtn {
    display: inline-block;
}

#showImageBtn1 {
    display: inline-block;
}

.data {
    position: relative;
    margin-top: 60px;
}

.upload-container {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.upload-button {
    background-color: transparent;
    border: 2px dashed #666666;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: #666666;
    font-size: 40px;
    text-align: center;
}

.file-input {
    display: none;
}

.image-container {
    display: none;
    vertical-align: middle;
}

.uploaded-image {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.hidden {
    display: none;
}
.show-image .image-container {
    display: flex;
    float: left;
}


#dataContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Прозрачный фон */
    color: white;
    z-index: 9999; /* Выше, чем остальной контент */
    padding: 20px;
    box-sizing: border-box;
}