html, body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.block-top {
    background-color: rgba(24, 32, 38, 1);
    min-width: 100%;
    height: 25%;
}

.block-bottom {
    background-color: rgba(21, 24, 30, 1);
    min-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.curier {
    text-align: center;
    margin-bottom: -3%;
}

.curier1 {
    text-align: center;
    margin-bottom: 3%;
    margin-right: 16%;
}

.lines {
    width: 22px;
    height: 15px;
    margin-top:1%;
    margin-left: 3%;
    margin-right: -10%;
    float: left;
}

.fill {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.search {
    background: url(../static/lupa.png) no-repeat center left;
    background-size: 18px 17.5px;
    background-position: 4%;
}

input.one {
    display: block;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 3%;
    width: 342px;
    height: 30px;
    background-color: #D9D9D91A;
    border: 1px solid #D9D9D91A;
    border-radius: 10px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: white;
    outline: none;
    padding-left: 8%;
}

.one::placeholder {
    line-height: 30.48px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    color: white;
}

.fill-bottom {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2%;
    margin-top: 9%;
}

.box {
    margin-bottom: 5%;
}

.ellipse {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}

.inf1 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 2%;
}

.inf2 {
    color: #838384;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: -2%;
}

.vector {
    height: 13px;
    width: 7px;
    float: right;
    margin-right: 5%;
    margin-top: -10%;
}

.back {
    float: left;
    margin-left: 2%;
    margin-top: 0.5%;
}

.fill-back {
    color: #95E6D6;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 500;
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
}

.screan {
    height: 389px;
    width: 400px;
}

.button {
    height: 42px;
    width: 180px;
    background-color:#95E6D6;
    border: 2px solid #95E6D6;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}


.button:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #95E6D6;
    border-radius: 5px;
    color: #95E6D6;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}

.button1 {
    height: 42px;
    width: 180px;
    background-color:#C98282;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}


.button1:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: #C98282;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 2.5%;
}

.button2 {
    height: 42px;
    width: 180px;
    background-color:#C98282;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: black;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}


.button2:hover {
    height: 42px;
    width: 180px;
    background-color: #15181EFF;
    border: 2px solid #C98282;
    border-radius: 5px;
    color: #C98282;
    line-height: 30.48px;
    font-weight:700;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    padding: auto;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 26%;
}

.inform-box {
    margin-left: 2%;
}

.inform {
    color: #838384;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.inform2 {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.qr {
    width: 400px;
    height: 395px;
}