<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="../static/auth1.css" />
</head>


<body>
    <div>
        <h1>RATE THIS GROUP</h1>
        <p>Вы ввели неверно логин или пароль!</p>
    </div>
    <form method="POST">{% csrf_token %}
    <div style="text-align: center;">

        <input class="one" name="username" type="text" placeholder="login" />
        <input class="one" name="password" type="password" placeholder="password" />
        <button type="submit" id="auth">Войти</button>
    </div>
    </form>
</body>
</html>