<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход</title>
        <link rel="stylesheet" href="../static/History.css" />

    </head>
<script>
function redirectToCourier() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/courier";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToDelivery() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/delivery";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToWare() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/warehouse";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToMain() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectTO(path) {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + '/' + path;

    // Navigate to the new URL
    window.location.href = newUrl;
}
</script>
    <body>

        <div class="split-container">
            <div class="block-left">
                <div class="head">
                    <h1 class="login">{{ login }}</h1>
                    <img class="Main" onclick="redirectToMain()"  src="../static/logo.png">
                </div>
                <div class="line"></div>

                <div class="commands">
                    <div onclick="redirectToDelivery()" class="box1">
                        <img class="box-img" src="../static/offer.png">
                        <h1 class="box-text">Выдать товары</h1>
                    </div>
                    <div onclick="redirectToCourier()" class="box2">
                        <img class="box-img" src="../static/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div onclick="redirectToWare()" class="box3">
                        <img class="box-img" src="../static/house.png">
                        <h1 class="box-text" >Склад</h1>
                    </div>
                </div>
            </div>

            <div class="block-right">

                <div class="text">
                    <h1 class="fill">История выездов курьеров</h1>
                    <div class="button">
                        <button type="button" onclick="redirectTO('delivery/')">Назад</button>
                    </div>
                    <h2 class="fill_grade">В данном разделе вы можете посмотреть историю выездов курьеров</h2>
                </div>
                <h1 class="date">Дата выезда</h1>
                <h1 class="charge">Кол-во курьеров</h1>
                <h1 class="status">Статус</h1>
                {% for el in rows %}
                <div onclick="redirectTO('{{ el.redirect_url|escapejs }}')" class="block">
                    <img class="arrow" src="../static/Vector 14.png">
                    <div class="text-block">
                        <h1 class="date-block">{{ el.date }}</h1>
                        <h1 class="charge-block">{{el.couriers}}</h1>
                    </div>
                    {% if el.status == 1 %}
                        <div class="status-block">
                            <h1 class="status-block-text">В процессе</h1>
                        </div>
                    {% else %}
                        <div class="status-block-1">
                            <h1 class="status-block-text-1">Завершена</h1>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}

            </div>
        </div>

    </body>

</html>