<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход</title>
        <link rel="stylesheet" href="/static/information.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    </head>

    <body>

        <div class="split-container">
            <div class="block-left">
                <div class="head">
                    <h1 class="login">ЛОГИН</h1>
                    <h1 class="id">ID</h1>
                    <img class="Main" src="/home/levantio/Downloads/Main.png">
                </div>
                <div class="line"></div>

                <div class="commands">
                    <div class="box1">
                        <img class="box-img" src="/home/levantio/Downloads/offer.png">
                        <h1 class="box-text">Выдать товары</h1>
                    </div>
                    <div class="box2">
                        <img class="box-img" src="/home/levantio/Downloads/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div class="box3">
                        <img class="box-img" src="/home/levantio/Downloads/house.png">
                        <h1 class="box-text">Склад</h1>
                    </div>
                </div>
            </div>

            <div class="block-right">

                <div class="text">
                    <h1 class="fill">История заборов</h1>
                    <div class="button">
                        <button type="button" class="ruf">Назад</button>
                        <h1 class="but">Курьер</h1>
                        <h1 class="bet">/</h1>
                        <h1 class="bat">История заборов</h1>
                    </div>
                    <h2 class="fill_grade">Курьер на маршруте</h2>
                </div>

                <div class="text-up">
                    <h1 class="fio">ФИО</h1>
                    <h1 class="charge">Авто</h1>
                    <h1 class="number">Госс номер</h1>
                    <h1 class="where">Откуда</h1>
                </div>

                <div class="block">
                    <div class="text-block">
                        <h1 class="fio-block">Иванов Иван Иванович</h1>
                        <h1 class="charge-block">Лада ВАЗ 2107</h1>
                        <h1 class="number-block">с777су777</h1>
                        <h1 class="where-block">Штат</h1>
                    </div>
                    <button class="status-block" type="button">Исправить</button>
                </div>
                <h2 class="fill_grad">Курьеру на адресе “Ул Пушкина, дом Колотушкина" не выдали следующие товары:</h2>
                <div class="text-up">
                    <h1 class="txt-id">ID</h1>
                    <h1 class="txt-foto">Фото</h1>
                    <h1 class="txt-articul">Артикул</h1>
                    <h1 class="txt-size">Размер</h1>
                    <h1 class="txt-datebye">Дата покупки</h1>
                    <h1 class="txt-dategive">Дата выдачи</h1>
                    <h1 class="txt-nomer">Телефон</h1>
                    <h1 class="txt-name">Имя</h1>
                    <h1 class="txt-price">Цена</h1>
                    <h1 class="txt-task">Task1</h1>
                </div>
                <div class="block1">
                    <div class="text-block1">
                        <h1 class="id-block">text</h1>
                        <img class="foto-block" src="/home/levantio/Downloads/dat-img.png">
                        <h1 class="articul-block">78858215</h1>
                        <h1 class="size-block">XS</h1>
                        <h1 class="datebye-block">2023-07-11</h1>
                        <h1 class="dategive-block">2023-07-15</h1>
                        <h1 class="nomer-block">89167859999</h1>
                        <h1 class="name-block">Петр</h1>
                        <h1 class="price-block">999</h1>
                        <h1 class="task-block">999999999</h1>
                    </div>
                </div>
                <div class="king-type">
                    <button type="button" class="type1">Взять работу</button>
                    <button type="button" class="type2">Написать объяснение</button>
                    <button type="button" class="type3">Получил товар</button>
                </div>

                <h2 class="fill_grad">Курьеру на адресе “Ул Пушкина, дом Колотушкина" перевыдали следующие товары:</h2>
                <div class="site-img">
                    <img class="site-img1" src="/home/levantio/site-img1.png">
                    <img class="site-img1" src="/home/levantio/site-img2.png">
                </div>
                <h3 class="inf">Известные данные:</h3>
                <div>
                    <h1 class="inf1">Баркод: 12836782163712637812</h1>
                    <h1 class="inf2">Предполагаемый артикул: 123213123</h1>
                    <h1 class="inf3">Баркод не опознан</h1>
                </div>
                <div class="barcode">
                    <h1 class="inf1">Артикул: 1276378</h1>
                    <h1 class="inf3">Артикул не опознан</h1>
                </div>
                <div class="but-type">
                    <button type="button" class="type-2">Написать объяснение и занести в таблицу</button>
                    <button type="button" class="type-1">Взять работу</button>
                </div>

                <h2 class="fill_grad">Курьер на адресе “Ул Пушкина, дом Колотушкина" не может идентифицировать товары:</h2>
                <div class="site-img">
                    <img class="site-img1" src="/home/levantio/site-img1.png">
                    <img class="site-img1" src="/home/levantio/site-img2.png">
                </div>
                <h3 class="inf">Известные данные:</h3>
                <div>
                    <h1 class="inf1">Баркод: 12836782163712637812</h1>
                    <h1 class="inf2">Предполагаемый артикул: 123213123</h1>
                    <h1 class="inf3">Баркод не опознан</h1>
                </div>
                <div class="barcode">
                    <h1 class="inf1">Артикул: 1276378</h1>
                    <h1 class="inf3">Артикул не опознан</h1>
                </div>
                <div class="but-type">
                    <button type="button" class="type-2">Написать объяснение и занести в таблицу</button>
                    <button type="button" class="type-1">Взять работу</button>
                </div>
                <h1 class="table-txt">Маршрут курьера</h1>
                <div class="prokrutka">
                    <table>
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Article</th>
                            <th>barcode</th>
                            <th>Clientid</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Punkt_vidachi</th>
                            <th>Code</th>
                            <th>code_qr</th>
                            <th>Date_active</th>
                            <th>Naming</th>
                            <th>Task1</th>
                            <th>date_vidacha</th>
                            <th>who_give</th>
                            <th>price</th>
                          </tr>
                          <tr>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="din">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                          </tr>
                          <tr class="don">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                          </tr>
                          <tr class="din">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                          </tr>
                          <tr class="don">
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>

    </body>

</html>