<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="/static/information.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">

    </head>
<script>
function redirectToCourier() {
    // Get the current URL path
    var currentPath = window.location.origin

    // Append "/contest" to the current path
    var newUrl = currentPath + "/courier";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToDelivery() {
    // Get the current URL path
    var currentPath = window.location.origin

    // Append "/contest" to the current path
    var newUrl = currentPath + "/delivery";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToWare() {

    var currentPath = window.location.origin

    // Append "/contest" to the current path
    var newUrl = currentPath + "/warehouse";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToMain() {

    var currentPath = window.location.origin

    // Append "/contest" to the current path
    var newUrl = currentPath + "/";

    // Navigate to the new URL
    window.location.href = newUrl;
}
</script>
    <body>

        <div class="split-container">
            <div class="block-left">
                <div class="head">
                    <h1 class="login">{{ login }}</h1>
                    <img class="Main" onclick="redirectToMain()"  src="/static/logo.png">
                </div>
                <div class="line"></div>

                <div class="commands">
                    <div onclick="redirectToDelivery()" class="box1">
                        <img class="box-img" src="/static/offer.png">
                        <h1 class="box-text">Выдать товары</h1>
                    </div>
                    <div onclick="redirectToCourier()" class="box2">
                        <img class="box-img" src="/static/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div onclick="redirectToWare()" class="box3">
                        <img class="box-img" src="/static/house.png">
                        <h1 class="box-text" >Склад</h1>
                    </div>
                </div>
            </div>

            <div class="block-right">

                <div class="text">
                    <h1 class="fill">История заборов</h1>
                    <div class="button">
                        <button type="button" class="ruf">Назад</button>
                        <h1 class="but">Курьер</h1>
                    </div>
                    {% if is_end %}
                    <h2 class="fill_grade">Курьер завершил свой маршрут</h2>
                    {% else %}
                    <h2 class="fill_grade">Курьер на маршруте</h2>
                    {% endif %}
                </div>

                <div class="block-new-2">
                    <div class="column-2">Имя</div>
                    <div class="column-2">Авто</div>
                    <div class="column-2">Номер авто</div>
                    <div class="column-2">Откуда</div>
                    <div class="column-2">Телефон</div>
                </div>
                <div class="block-new">
                    <div class="column">{{ courier.name }}</div>
                    <div class="column">{{ courier.auto }}</div>
                    <div class="column">{{ courier.number }}</div>
                    <div class="column">{{ courier.where }}</div>
                    <div class="column">{{ courier.phone }}</div>
                </div>

                {% for i in problem1 %}
                <h2 class="fill_grad">Курьеру на адресе "{{ i.pvz }}" не выдали следующий товар:</h2>
                <div class="block-new-2">
                    <div class="column-2">id</div>
                    <div class="column-2">Фото</div>
                    <div class="column-2">Артикул</div>
                    <div class="column-2">Размер</div>
                    <div class="column-2">Дата покупки</div>
                    <div class="column-2">Телефон</div>
                    <div class="column-2">Имя</div>
                    <div class="column-2">Цена</div>
                    <div class="column-2">Таск1</div>
                </div>
                <div class="block-new">
                    <div class="column">{{ i.id }}</div>
                    <div class="column"><img src="{{ i.photo }}"></div>
                    <div class="column">{{ i.article }}</div>
                    <div class="column">{{ i.size }}</div>
                    <div class="column">{{ i.date_buy }}</div>
                    <div class="column">{{ i.phone }}</div>
                    <div class="column">{{ i.name }}</div>
                    <div class="column">{{ i.price }}</div>
                    <div class="column">{{ i.task1 }}</div>
                </div>
                {% if i.is_solved %}
                    <h2 class="fill_grade">Cитуация решена со статусом {{ i.result }}</h2>
                {% else %}
                    <div class="king-type">
                    <button id="toggleButton-{{ i.id }}" name="{{ i.id }}" type="button" class="type2">Написать объяснение</button>
                </div>
                {% endif %}
                {% endfor %}
                {% for i in problem2 %}
                    <h2 class="fill_grad">Курьер на адресе "{{ i.pvz }}" не может идентифицировать товары:</h2>

                    <div class="site-img">
                        {% for m in i.photos %}
                            <img class="site-img1" src="/media/problem_photos/{{ m }}" >
                        {% endfor %}
                     </div>
                <h3 class="inf">Известные данные:</h3>
                <div>
                    <h1 class="inf1">Баркод: {{ i.barcode }}</h1>
                    <h1 class="inf3">Баркод не опознан</h1>
                </div>
                <div class="barcode">
                    <h1 class="inf1">Артикул: {{ i.article }}</h1>
                    <h1 class="inf3">Артикул не опознан</h1>
                </div>
                {% if i.is_solved %}
                    <h2 class="fill_grade">Cитуация решена со статусом {{ i.result }}</h2>
                {% else %}
                    <div class="king-type">
                    <button id="toggleButton-{{ i.id }}" name="{{ i.id }}" type="button" class="type2">Написать объяснение</button>
                </div>
                {% endif %}
                {% endfor %}

                <h1 class="table-txt">Маршрут курьера</h1>
                <div class="prokrutka">
                    <table>
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Article</th>
                            <th>barcode</th>
                            <th>Clientid</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Punkt_vidachi</th>
                            <th>Code</th>
                            <th>code_qr</th>
                            <th>Date_active</th>
                            <th>Naming</th>
                            <th>Task1</th>
                            <th>date_vidacha</th>
                            <th>who_give</th>
                            <th>price</th>
                          </tr>
                          <tr>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                            <td><input></td>
                          </tr>
                        </thead>
                        <tbody>
                             {% for el in table %}
                          <tr class="scroll">
                            <td>{{ el.id}}</td>
                            <td>{{ el.article }}</td>
                            <td>{{ el.barcode }}</td>
                            <td>{{ el.clientid }}</td>
                            <td>{{ el.name }}</td>
                            <td>{{ el.phone }}</td>
                            <td>{{ el.punkt_vidachi }}</td>
                            <td>{{ el.code }}</td>
                            <td ><img src="{{ el.code_qr }}" alt="QR Code" width="30" height="30"></td>
                            <td>{{ el.date_active }}</td>
                            <td>{{ el.naming }}</td>
                            <td>{{ el.task1 }}</td>
                            <td>{{ el.who_give }}</td>
                            <td>{{ el.price }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>




                <form method="POST"> {% csrf_token %}
                    {% for i in problem1 %}
                <div id="myDiv-{{ i.id }}" class="window">
                    <div class="window-txt">
                        <h2 class="window-text">Объяснительная</h2>
                    </div>
                    <div class="window-txt-one">
                        <h2 class="window-text-one">Пожалуйста кратко объясните почему, курьер “проблема требующая объяснения” и итог решения и чья это вина</h2>
                    </div>
                    <div>
                        <div class="rec">
                            <h1 class="rec__word">{{ manager.name }}</h1>
                            <span class="rec__border-word">Менеджер</span>
                        </div>
                        <div class="rec">
                            <h1 class="rec__word">{{ manager.id }}</h1>
                            <span class="rec__border-word-one">ID Менеджера</span>
                        </div>
                    </div>
                            <input name="comment" class="wind-inf">
                    <div>
                        <button class="window-block" name="DONE-{{ i.id }}" type="submit">Ситуация решена</button>
                        <button class="window-block-one" name="ERRR-{{ i.id }}" type="submit">Ситуация не решена</button>
                    </div>
                </div>
                    {% endfor %}
                    {% for i in problem2 %}
                <div id="myDiv-{{ i.id }}" class="window">
                    <div class="window-txt">
                        <h2 class="window-text">Объяснительная</h2>
                    </div>
                    <div class="window-txt-one">
                        <h2 class="window-text-one">Пожалуйста кратко объясните почему, курьер “проблема требующая объяснения” и итог решения и чья это вина</h2>
                    </div>
                    <div>
                        <div class="rec">
                            <h1 class="rec__word">{{ manager.name }}</h1>
                            <span class="rec__border-word">Менеджер</span>
                        </div>
                        <div class="rec">
                            <h1 class="rec__word">{{ manager.id }}</h1>
                            <span class="rec__border-word-one">ID Менеджера</span>
                        </div>
                    </div>
                            <input name="comment" class="wind-inf">
                    <div>
                        <button class="window-block" name="DONE-{{ i.id }}" type="submit">Ситуация решена</button>
                        <button class="window-block-one" name="ERRR-{{ i.id }}" type="submit">Ситуация не решена</button>
                    </div>
                </div>
                    {% endfor %}
                </form>
            </div>

        </div>

    </body>
    <script>
    console.log("lol")
        {% for i in problem1 %}
            try {
                // Получить элементы кнопки и дива
                const toggleButton{{ i.id }} = document.getElementById('toggleButton-{{ i.id }}');
                const myDiv{{ i.id }} = document.getElementById('myDiv-{{ i.id }}');

                // Добавить обработчик события на кнопку
                toggleButton{{ i.id }}.addEventListener('click', () => {
                    // Проверить текущее состояние дива и изменить его видимость
                    if (myDiv{{ i.id }}.style.display === 'none') {
                        myDiv{{ i.id }}.style.display = 'block'; // Показать див
                    } else {
                        myDiv{{ i.id }}.style.display = 'none'; // Скрыть див
                    }
                });
            }
            catch (e){
                console.log(e)
            }
        {% endfor %}
        {% for i in problem2 %}
        // Получить элементы кнопки и дива
        const toggleButton{{ i.id }} = document.getElementById('toggleButton-{{ i.id }}');
        const myDiv{{ i.id }} = document.getElementById('myDiv-{{ i.id }}');

        // Добавить обработчик события на кнопку
        toggleButton{{ i.id }}.addEventListener('click', () => {
            // Проверить текущее состояние дива и изменить его видимость
            if (myDiv{{ i.id }}.style.display === 'none') {
                myDiv{{ i.id }}.style.display = 'block'; // Показать див
            } else {
                myDiv{{ i.id }}.style.display = 'none'; // Скрыть див
            }
        });
        {% endfor %}
    </script>

</html>