<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="../static/mobile_main.css" />

    </head>
    <script>
        function redirectTOPROD(path) {

    var currentPath =  window.location.origin

    // Append "/contest" to the current path
    var newUrl = currentPath + '/carrier/product/' + path;

    // Navigate to the new URL
    window.location.href = newUrl;
        }
    </script>
    <body>
    <form method="POST">{% block content %} {% csrf_token %}
        <div class="container">

            <div id="dataContainer" class="hidden">
                <div class="head">
                    <img class="Main" onclick="redirectToMain()"  src="../static/logo.png">
                    <h1 class="login">{{ login }}</h1>
                </div>
                <div class="commands">
                    <div class="box1">
                        <img class="box-img" src="../static/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div class="box2">
                        <img class="box-img" src="../static/cargo.png">
                        <h1 class="box-text">Мне перевыдали</h1>
                    </div>
                </div>
            </div>

            <div class="block-top">
                <div class="curier">
                    <img id="showDataButton" class="lines" src="/static/lines.png">
                    <h1 class="fill">Курьер</h1>
                </div>
                <div class="search">
                    <input class="one" name="username" type="text" placeholder="Поиск" />
                </div>
            </div>

            <div class="block-bottom">
                {% for i in products %}
                <h1 class="fill-bottom">{{ i.adress }}</h1>
                    {% for m in i.prods %}
                        <div class="box" onclick="redirectTOPROD('{{ m.redirect_data }}')">
                            <div>
                            <img class="ellipse" src="{{ m.photo }}">
                             {% if m.status == 1 %}
                            <img class="ellipse2" src="/static/Vector%2019.png">
                             {% elif m.status == 2 %}
                                <img class="ellipse2" src="/static/X.png">
                             {% elif m.status == 3 %}
                                 <img class="ellipse2" src="/static/_.png">
                             {% endif %}
                        </div>
                            <h1 class="inf1">{{ m.name }}</h1>
                            <h2 class="inf2">Телефон: {{ m.phone }} Код: {{ m.code }}</h2>
                            <img class="vector" src="../static/Vector 14.png">
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endblock %}
    </form>
    </body>

    <script>
        const showDataButton = document.getElementById('showDataButton');
        const dataContainer = document.getElementById('dataContainer');

        showDataButton.addEventListener('click', () => {
            dataContainer.style.left = '0';
        });

        window.addEventListener('click', (event) => {
            if (!dataContainer.contains(event.target) && !showDataButton.contains(event.target)) {
                dataContainer.style.left = '-70%';
            }
        });

    </script>

</html>
