<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="../static/mobile_main.css" />

    </head>
    <body>
        <div class="container">
            <div class="block-top">
                <div class="curier">
                    <img class="lines" src="../static/lines.png">
                    <h1 class="fill">Курьер</h1>
                </div>
                <div class="search">
                    <input class="one" name="username" type="text" placeholder="Поиск" />
                </div>
            </div>
            
            <div class="block-bottom">
                <h1 class="fill-bottom">26 - ти Бакинских Комиссаров д. 4к2</h1>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>

                <h1 class="fill-bottom">Улица коммонавта яковлева, шоссе этузиасторв, дом19</h1>
                <div class="box">
                    <img class="ellipse" src="../static/ellipse-curier.png">
                    <h1 class="inf1">Роман</h1>
                    <h2 class="inf2">Телефон: 77777777777 Код: 66666</h2>
                    <img class="vector" src="../static/Vector 14.png">
                </div>
            </div>
        </div>
    </body>

</html>
