<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="../static/mobile_main.css" />

    </head>
    <body>
        <div class="container">
            <div class="block-top">
                <div class="curier1">
                    <img class="back" src="../static/vector.png">
                    <h1 class="fill-back">Назад</h1>
                    <h1 class="fill">Роман</h1>
                </div>
            </div>
            <div class="block-bottom">
                <img class="screan" src="../static/screan.png">
                <div class="check">
                    <h2 class="inform3">Мы зафиксировали ваше обращение, пожалуста ожидайте не куда не уходите, мы разбираемся в ситуации, нам нужно на это 5-10 минут. Чтобы проверить статус обработки, нажмите на кнопку!</h2>
                    <button class="button-check" type="button">Проверить</button>
                </div>
                <div class="inform-box">
                    <h1 class="inform">Телефон</h1>
                    <h2 class="inform2">77777777777</h2>
                    <h1 class="inform">Наименование</h1>
                    <h2 class="inform2">Масло для волос тела лица губ ресниц увлажнающее кокосовое</h2>
                    <h1 class="inform">Статус заказа</h1>
                    <h2 class="inform2">Готов к выдаче</h2>
                    <h1 class="inform">Номенклатура</h1>
                    <h2 class="inform2">104736313</h2>
                    <h1 class="inform">МП</h1>
                    <h2 class="inform2">WB</h2>
                    <h1 class="inform">Код</h1>
                    <h2 class="inform2">66 678</h2>
                </div>
                <img class="qr" src="../static/qr.png">
            </div>
        </div>
    </body>

</html>
