<!DOCTYPE html>
<html>

    <head>
{% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="/static/send_courier.css" />

    </head>
{% endblock %}
<script>
function redirectToCourier() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/courier";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToDelivery() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/delivery";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToWare() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/warehouse";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToMain() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/";

    // Navigate to the new URL
    window.location.href = newUrl;
}
document.addEventListener("DOMContentLoaded", function() {
    const blocksContainer = document.getElementById("blocks-container");
    const addBlockButton = document.getElementById("addBlockButton");
    const form = document.getElementById("myForm");

    blocksContainer.addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            event.preventDefault();

            const currentInput = event.target;
            const nextInput = currentInput.nextElementSibling;

            if (nextInput) {
                nextInput.focus();
            } else {
                const currentBlock = currentInput.closest(".block");
                const nextBlock = currentBlock.nextElementSibling;

                if (nextBlock) {
                    const firstInputInNextBlock = nextBlock.querySelector("input");
                    if (firstInputInNextBlock) {
                        firstInputInNextBlock.focus();
                    }
                } else {
                    // Создать новую строку (блок) и добавить в конец контейнера
                    const newBlock = document.createElement("div");
                    newBlock.classList.add("block");
                    newBlock.innerHTML = `
                            <input class="one" name="name" type="text" >
                            <input class="two" name="auto" type="text" >
                            <input class="three" name="number" type="text">
                            <input class="four" name="phone" type="text">
                            <input class="five" name="where" type="text">
                    `;
                    blocksContainer.appendChild(newBlock);

                    // Переместить фокус на первый input новой строки
                    const firstInputInNewBlock = newBlock.querySelector("input");
                    if (firstInputInNewBlock) {
                        firstInputInNewBlock.focus();
                    }
                }
            }
        }
    });

    // Функция для добавления нового блока
    addBlockButton.addEventListener("click", function() {
        const newBlock = document.createElement("div");
        newBlock.classList.add("block");
        newBlock.innerHTML = `
                <input class="one" name="name" type="text" >
                <input class="two" name="auto" type="text" >
                <input class="three" name="number" type="text">
                <input class="four" name="phone" type="text">
                <input class="five" name="where" type="text">
        `;
        blocksContainer.appendChild(newBlock);
    });

    form.addEventListener("button", function(event) {
        event.preventDefault();

        const blocks = blocksContainer.querySelectorAll(".block");
        const dataArray = [];

        blocks.forEach(block => {
            const inputs = block.querySelectorAll("input");
            const data = {
                name: inputs[0].value,
                auto: inputs[1].value,
                number: inputs[2].value,
                phone: inputs[3].value,
                where: inputs[4].value,
            };
            dataArray.push(data);
        });

        // Отправка данных в виде JSON массива
        fetch("/courier/send/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}", // Добавьте CSRF токен
            },
            body: JSON.stringify(dataArray),  // Отправляем массив объектов
        })
        .then(response => response.json())
        .then(data => {
            // Обработка ответа
        })
        .catch(error => {
            console.error("Error:", error);
        });
    });
});
</script>
    {% block content %}
    <body>
    <form method="POST">{% csrf_token %}
        <div class="split-container">
            <div class="block-left">
                <div class="head">
                    <h1 class="login">{{ login }}</h1>
{#                    <h1 class="id">ID</h1>#}
                    <img class="Main" onclick="redirectToMain()"  src="../static/logo.png">
                </div>
                <div class="line"></div>

                <div class="commands">
                    <div onclick="redirectToDelivery()" class="box1">
                        <img class="box-img" src="../static/offer.png">
                        <h1 class="box-text">Выдать товары</h1>
                    </div>
                    <div onclick="redirectToCourier()" class="box2">
                        <img class="box-img" src="../static/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div onclick="redirectToWare()" class="box3">
                        <img class="box-img" src="../static/house.png">
                        <h1 class="box-text" >Склад</h1>
                    </div>
                </div>

            </div>

                <div class="block-right">
                    <div class="text">
                        <h1 class="fill">Курьер</h1>
                        <div class="butt-one">
                            <button type="button" class="ruf">Назад</button>
                            <h1 class="but">Курьер</h1>
                            <h1 class="bet">/</h1>
                            <h1 class="bat">Отправить курьера</h1>
                        </div>
                        <h1 class="fill_grad">Куда поедут эти курьеры?</h1>
                        <div class="check-box">
                            <input class="custom-checkbox" type="checkbox" name="send to partner pvz" id="checkbox-1" value="option1">
                            <label class="lab" for="checkbox-1">Отправить только на партнёрские</label>
                        </div>
                        <div class="check-box">
                            <input class="custom-checkbox" type="checkbox" name="send to NOpartner pvz" id="checkbox-2" value="option2">
                            <label class="lab" for="checkbox-2">Отправить на не непартнёрские</label>
                        </div>
                        <h2 class="fill_grid">Кто эти курьеры?</h2>
                        <h1 class="fill_graid">Заполните все данные про курьеров<br><br></h1>
                        <h1 class="text-one">ФИО</h1>
                        <h1 class="text-two">Авто</h1>
                        <h1 class="text-three">Госс номер</h1>
                        <h1 class="text-four">Телефон</h1>
                        <h1 class="text-five">Откуда</h1>
                        <div id="blocks-container">
                            <div class="block">
                                <input class="one" name="name" type="text" >
                                <input class="two" name="auto" type="text" >
                                <input class="three" name="number" type="text">
                                <input class="four" name="phone" type="text">
                                <input class="five" name="where" type="text">
                            </div>
                        </div>
                        <button type="button" class="addBlockButton" id="addBlockButton">+</button>
                        <h2 class="fill_grid">Штатные курьеры:</h2>
                        <h1 class="text-one">ФИО</h1>
                        <h1 class="text-two">Авто</h1>
                        <h1 class="text-three">Госс номер</h1>
                        <h1 class="text-four">Телефон</h1>
                        <h1 class="text-five">Откуда</h1>
                        {% for el in couriers %}
                        <div  class="block">
                            <input type="checkbox" class="custom-checkbox" id="checkbox-{{ el.id }}">
                            <label class="lol" for="checkbox-{{ el.id }}">
                            <div class="text-block">
                                <h1 class="date-block">{{ el.name }} {{ el.surname }}</h1>
                                <h1 class="give-block">{{ el.auto }}</h1>
                                <h1 class="give-block">{{ el.auto_number }}</h1>
                                <h1 class="give-block">{{ el.phone }}</h1>
                                <h1 class="give-block">Штат</h1>
                            </div>
                            </label>
                        </div>
                        {% endfor %}
                        <h2 class="fill_grade"></h2>
                        <button type="submit">Продолжить!</button>
                    </div>
                </div>
        </div>
        </form>
    </body>
    {%  endblock %}
</html>
