<!DOCTYPE html>
<html>

    <head>
{% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RATE-THIS</title>
        <link rel="stylesheet" href="/static/main_page.css" />

    </head>
{% endblock %}
<script>
function redirectToCourier() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/courier";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToDelivery() {
    // Get the current URL path
    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/delivery";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToWare() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/warehouse";

    // Navigate to the new URL
    window.location.href = newUrl;
}
function redirectToMain() {

    var currentPath = 'http://127.0.0.1:8000'

    // Append "/contest" to the current path
    var newUrl = currentPath + "/";

    // Navigate to the new URL
    window.location.href = newUrl;
}
</script>
    {% block content %}
    <body>
        <div class="split-container">
            <div class="block-left">
                <div class="head">
                    <h1 class="login">{{ login }}</h1>
{#                    <h1 class="id">ID</h1>#}
                    <img class="Main" onclick="redirectToMain()"  src="/static/logo.png">
                </div>
                <div class="line"></div>

                <div class="commands">
                    <div onclick="redirectToDelivery()" class="box1">
                        <img class="box-img" src="/static/offer.png">
                        <h1 class="box-text">Выдать товары</h1>
                    </div>
                    <div onclick="redirectToCourier()" class="box2">
                        <img class="box-img" src="/static/cargo.png">
                        <h1 class="box-text">Курьер</h1>
                    </div>
                    <div onclick="redirectToWare()" class="box3">
                        <img class="box-img" src="/static/house.png">
                        <h1 class="box-text" >Склад</h1>
                    </div>
                </div>
            </div>

            <div class="block-right">
                <form method="POST">
                    <div class="text">
                        <h1 class="fill">Курьер</h1>
                        <div class="butt-one">
                            <button type="button" class="ruf">Назад</button>
                            <h1 class="but">Курьер</h1>
                            <h1 class="bet">/</h1>
                            <h1 class="bat">Отправить курьера</h1>
                        </div>
                        <h1 class="fill_grad">Куда поедут эти курьеры?</h1>
                        <h2 class="text-curier">Выберите курьер, по которому маршруту он поедет</h2>
                        <button type="button" class="rud">Сформировать</button>
                    </div>
                    <h1 class="adres">Адрес</h1>
                    <h1 class="curier">Курьер</h1>
                    {% for el in addresses %}
                        <div id="blocks-container" class="blockone">
                            <div class="opt">
                                <h1 class="check-text-one">{{ el }}</h1>
                                <select name="" class="custom-option">
                                    <option></option>
                                    {% for courier in couriers %}
                                    <option>{{courier}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </body>
    {%  endblock %}
</html>
